.header {
  z-index: 999;
  width: 100%;
  position: fixed;
  animation: fade 1s;
  -webkit-animation: fade 1s;
}
.header .custom-container-fluid {
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  animation: fade 1s;
  -webkit-animation: fade 1s;
}
.header .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .top-header i {
  margin: 0 7px;
  font-size: 1.3em;
}
.header .top-header .top-header-left {
  margin: 10px 0;
}

.header .top-header .top-header-left ul li a i {
  background-color: #2e2e2e;
}
.header .top-header .top-header-right {
  margin: 10px 0;
}

.header .top-header .top-header-left ul li a i {
  color: #aa885a;
}
/* ----------navigation----------- */
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navigation,
.navigation-responsive {
  background-color: #1d1d1d;
  padding: 10px 0;
}
.navigation .nav-left .logo-bar img {
  width: 70px;
}

.navigation .nav-center ul {
  margin: 0 0;
}
.navigation .nav-center ul li {
  margin: 10px;
}
.navigation .nav-center ul li .close-icon-menu-res{
  color: #aa885a;
  font-size: 2em;
  display: none;
}

.navigation .nav-center ul li a {
  text-transform: uppercase;
  font-size: 1.2em;
}
.nav-center-responsive {
  display: block;
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 88888;
  background-color: #1d1d1d;
  height: 100vh;
  animation: fade 1s;
  -webkit-animation: fade 1s;
}

element.style {
  display: block;
}
.navigation .nav-center ul li .close-icon-menu-res {
  color: #aa885a;
  font-size: 2em;
  display: none;
  text-align: right;
  margin-right: -78px;
  border: 1px solid #aa885a7d;
  padding: 2px 9px;
  cursor: pointer;
}

.nav-center-responsive-li {
  display: none;
}
.navigation .nav-right {
  position: relative;
}
.navigation .nav-right input {
  border: none;
  outline: none;
  background-color: #1d1d1d;
  border: 2px solid rgb(182, 174, 174);
  border-radius: 25px;
  font-size: 0.8em;
  padding: 6px 7px;
  padding-left: 40px;
  width: 230px;
  color: #fff;
}
.navigation .nav-right i {
  color: rgb(211, 201, 201);
  position: absolute;
  top: 12px;
  left: 17px;
  font-size: 0.9em;
  cursor: pointer;
}
/* .navigation-responsive */
.navigation-responsive-content {
  width: 100%;
  display: none;
}
.navigation-responsive {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navigation-responsive .logo {
  width: 280px;
}
.navigation-responsive .logo img {
  width: 100%;
}
.navigation-responsive .menu-bar i {
  font-size: 2em;
  color: #aa885a;
  cursor: pointer;
}
.navigation-responsive .search-box i {
  font-size: 2em;
  color: #aa885a;
  cursor: pointer;
}
.navigation-responsive .search-box form {
  animation: fade 1s;
  -webkit-animation: fade 1s;
}
.navigation-responsive .search-box form input {
  outline: none;
  padding: 4px 19px;
  font-size: 0.9em;
  background-color: #1d1d1d;
  border: 2px solid #aa885a;
  border-radius: 20px;
  color: #fff;
}
.navigation-responsive .search-box form a {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.navigation-responsive .search-box form a:hover {
  color: #000 !important;
}
/* -------------------Slider-------------------- */

.slider{

}
.slider .slider-content .item{
  width: 100%;
  height: 100vh;
  position: relative;
  display: none;
  animation: fade 1s;
  -webkit-animation: fade 1s;
}
.slider .slider-content .item.active{
  display: block;
}
/* --- */

.slider .slider-content .item .bottom-layer img{
  width: 100%;
  height: 100vh;
  z-index: 10;
}
/* --- */
.slider .slider-content .item .cover-on-bottom-layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #d3cfceb9;
  z-index: 20;
}
/* --- */
.slider .slider-content .item .top-layer-content {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 30;
  /* background-color: red; */
}
.slider .slider-content .item .top-layer-content .top-layer{
  position: relative;
  top: 34%;
  left: 0;
  width: 100%;
  height: 50vh;
  /* background-color: yellow; */
}
.slider .slider-content .item .top-layer-content .top-layer .title-content{
  position: absolute;
  top: 0;
  left: 17%;
  width: 450px;
  height: 310px;
  text-align: left;
  padding: 15px ;
  box-sizing: border-box;
  text-transform: uppercase;
  
}
.slider .slider-content .item .top-layer-content .top-layer .title-content h2{
  color: #ad8c59;
  margin-bottom: 30px;
  z-index: 60;
}
.slider .slider-content .item .top-layer-content .top-layer .title-content p{
  color: #6b6363;
  margin-bottom: 60px;
  font-size: 1.6em;
  font-weight: 600;
}
.slider .slider-content .item .top-layer-content .top-layer .title-content a{
  color: #ad8c59;
  border-color: #ad8c59;
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
}
.slider .slider-content .item .top-layer-content .top-layer .title-content a:hover{
  color: #585248;
  background-color: #ad8c59;
}
.slider .slider-content .item .top-layer-content .top-layer .img-content{
  position: absolute;
  top: 0;
  right: 17%;
  width: 450px;
  height: 310px;
  box-shadow: 5px 10px 8px #888888;
}
.slider .slider-content .item .top-layer-content .top-layer .img-content img{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.slider i{
  font-size: 5em;
  color: #585151;
  z-index: 70;
  position: absolute;
  top: 45%;
  border: 3px solid #6b6363;
  padding: 13px 18px;
  opacity: 0.6;
  transition:all .6s;
  -webkit-transition:all .6s;
  -moz-transition:all .6s;
  -ms-transition:all .6s;
  -o-transition:all .6s;
}
.slider i:hover{
  cursor: pointer;
  background-color: #645959;
  color: #aca2a2;
  border: 3px solid #aca2a2;
}
.slider .angle-left{
  left: 30px;
}
.slider .angle-right{
  right: 30px;
}
/* --- */
@keyframes fade {
  0%{
    opacity : 0;
  }
  100%{
    opacity : 1;
  }
}
/* -------------------End Slider-------------------- */
/* -------------------articalls---------------------- */

.articalls{

}
.articalls .title-articalls{
  text-align: center;
  margin-top: 50px;
  /* background-color: rgba(255, 255, 0, 0.349); */
}
.articalls .title-articalls h2{
  color: #be8e4b;
}
.articalls .title-articalls p{
  margin: 20px 0 60px 0;
}
.articalls .product-articalls{
  margin-top: 40px;
}
.articalls .product-articalls .product-content{
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 130px;
}
.articalls .product-articalls .product-content .img-box{
  height: 230px;
}
.articalls .product-articalls .product-content .img-box img{
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
}
.articalls .product-articalls .product-content .title-box{
  background-color: #ffffff;
  box-shadow: 2px -1px 8px 3px #bdbdbd;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  height: 167px;
  box-sizing: border-box;
  position: absolute;
  top: 143px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.articalls .product-articalls .product-content:hover .title-box{
  top: 200px;
}
.articalls .product-articalls .product-content .title-box .title-header h3{
  background-color: #9c7a4b;
  display: inline-block;
  color: #fff;
  font-size: 1em;
  padding: 3px 5px;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
  margin: 1px;
}
.articalls .product-articalls .product-content .title-box .title-main p{
  font-size: 1.1em;
  margin: 10px 20px;
}
.articalls .product-articalls .product-content .title-box .categore{
  margin: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articalls .product-articalls .product-content .title-box .categore .like i{
  font-size: 1.3em;
  color: #b9b9b9;
  cursor: pointer;
}
.likeIcontBackground{
  color: red !important;
}
.articalls .product-articalls .product-content .title-box .categore .like span{
  font-size: .9em;
}
.articalls .product-articalls .product-content .title-box .categore .title button{
  border: 1px solid #222;
  background-color: #000000a3;
  color: #fff;
  border-radius: 3px;
}
.articalls .show-more-articalls a{
  color: #9c7a4b;
  border: 2px solid #9c7a4b;
  font-size: 0.8em;
  margin-bottom: 40px;
  transition: al .6s;
  -webkit-transition: al .6s;
  -moz-transition: al .6s;
  -ms-transition: al .6s;
  -o-transition: al .6s;
}
.articalls .show-more-articalls a:hover{
  background-color: #9c7a4b;
  color: #fff;
}
/* ----------services---------------- */
.services{
  position: relative;
  top: 0;
  left: 0;
}
.services .servoces-content{
  background: url(../img/service/s1.jpg) no-repeat;
  width: 100%;
  z-index: 0;
  height: 100vh;
  background-attachment: fixed;
}
.services .servoces-content .cover-services{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(49, 32, 32, 0.678);
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 100px 0 30px 80px;
}
.services .servoces-content .cover-services .services-title h3{
  font-size: 2em;
  color: #9c7a4b;
}
.services .servoces-content .cover-services .services-title p{
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
}
.services .servoces-content .cover-services .services-product {
  margin-top: 70px;

}
.services .servoces-content .cover-services .services-product .product .product-box{
  border: 2px solid #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 15px 30px;
  width: 200px;
  margin-top: 30px;
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
}
.services .servoces-content .cover-services .services-product .product .product-box:hover{
  border-color: #9c7a4b;
  background-color: #9c7a4b;
}
.services .servoces-content .cover-services .services-product .product .product-box:hover i{
  color: #fff;

}
.services .servoces-content .cover-services .services-product .product a i{
  color: #9c7a4b;
  font-size: 2em;
  margin-right: 20px;
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
}

.services .servoces-content .service-background{
  width: 100%;
  height: 100%;
}
.services .servoces-content .service-background img{
  width: 100%;
  height: 100%;
}
